*{
    font-family: 'Open Sans', sans-serif;
    overflow: auto;
}

::-webkit-scrollbar {
    display: none;
}

body{
    display: flex;
    background-color: #5C69F4;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-div{
    background-color: #37393f;
    height: 82vh;
    width: 500px;
    border-radius: 5px;
}

form{
    display: flex;
    flex-direction: column;
}

h2{
    color: white;
    text-align: center;
    margin: 40px 0 0 0;
}

label{
    color: #b5bac1;
    font-weight: bold;
    font-size: 0.7em;
    letter-spacing: 0.03em;
    margin: 10px 30px 7px 30px;;
}

input{
    color: white;
    font-size: 14px;
    padding: 10px;
    margin: 0 30px 10px 30px;
    background-color: #222425;
    border: 0;
    border-radius: 5px;
}

span{
    color:red;
    font-size: 0.6rem;
}

#updates{
    margin: 0px 10px 0px 0px;
}

.updates{
    margin: 15px 30px;
    font-weight: 400;
    align-self: start;
}

p{
    margin: 15px 30px 8px 30px;;
    font-weight: 600;
    font-size: smaller;
    color:#5C69F4;
}

.submit{
    background-color: #5C69F4;
}

.focus-text {
    display:none;
    margin: 0px 30px 20px 30px;
    color: white;
    font-size: 0.73rem;
}

#display-name:focus + .focus-text {
    display: block;
}

#username:focus + .focus-text {
    display: block;
}

#confirm-password:focus + .focus-text {
    display: block;
}

