*{
    font-family: 'Open Sans', sans-serif;
    overflow: auto;
}

body{
    display: flex;
    background-color: #5C69F4;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-div{
    background-color: #37393f;
    height: 60vh;
    width: 500px;
    border-radius: 5px;
}

form{
    display: flex;
    flex-direction: column;
}

h2{
    color: white;
    text-align: center;
    margin: 40px 0 0 0;
}

label{
    color: #b5bac1;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.03em;
    margin: 10px 30px 7px 30px;;
}

input{
    color: white;
    font-size: 14px;
    padding: 10px;
    margin: 0 30px 15px 30px;
    background-color: #222425;
    border: 0;
    border-radius: 5px;
}

.submit{
    background-color: #5C69F4;
}

p{
    margin: 15px 30px 8px 30px;;
    font-weight: 600;
    font-size: smaller;
    color:#5C69F4;
}

.updates{
    font-weight: 400;
    display: inline-block;
}